.vscode/
.idea/
EWARM/
*.out
*.hex
*.bin
*.s19
*.map
*.dmp
*.lss
*.rpt
*.tmp
*.bak
*.a
*.o
*.elf
*.d
*.dSYM
*.suo
*.suo.old
*.suo.bak
*.suo.tmp
*.suo.bak.tmp
*.suo.old.tmp
*.crf
/.cache
/.xmake
/build
compile_commands.json
Drivers/
